@{
    ViewData["Title"] = "About Us Page";
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />

}

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6">
                <h1 class="display-4">About us</h1>
                <p class="lead text-muted mb-0">The Pahurehure liquor store is a genuine, independently owned New Zealand liquor store and we want to make sure you feel welcome every time you walk through our doors or visit our website.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3183.579611824393!2d174.92836691529746!3d-37.06749997989439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d532f43eba95f%3A0x8add67eec9180d5a!2s2%2F10%20Rushgreen%20Avenue%2C%20Pahurehure%2C%20Auckland%202113!5e0!3m2!1sen!2snz!4v1669166357370!5m2!1sen!2snz" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>



            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Our Values</h2>
                <p class="font-italic text-muted mb-4">We at Pahurehure Liquor Store strive to bring real value to all of our customers and strive to be a fair trader year after year. This is our brand promise.</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>

                <h2 class="font-weight-light">Have any questions?</h2>
                <p class="font-italic text-muted mb-4">Feel free to contact us or send through a message from our contact us page.</p><a href="/ContactUs/Index" class="btn btn-light px-5 rounded-pill shadow-sm">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
            </div>
        </div>

        <div class="row text-center">



            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ravi Patel</h5><span class="small text-uppercase text-muted">Store Manager</span>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://t3.ftcdn.net/jpg/05/33/97/28/360_F_533972860_AIhsfdKiuBobZ11YvXKzQu6eTLCz2FfB.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ashavjeet Singh</h5><span class="small text-uppercase text-muted">Website Developer</span>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Kush Patel</h5><span class="small text-uppercase text-muted">Assistant Manager/Website Developer</span>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>